$primary-white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$background-areas-title: rgba(47, 48, 58, 0.8);
$footer-background-color: #2f303a;
$background-behind-layout: #e5e5e5;
$logo-black-color: #000000;
$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$hover-portfolio-card: rgba(33, 150, 243, 0.9);
$clients-icons-color: #afb1b8;
$portfolio-card-border: #eeeeee;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-copyright-color: rgba(255, 255, 255, 0.4);
$footer-icon-background: rgba(255, 255, 255, 0.1);
$header-border-color: #ececec;

$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$hero-gradient: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

/* основной цвет фона белый  #FFFFFF  */
/* цвет фона за макетом  #E5E5E5  */
/* цвет фона заголовков чем мы занимаемся rgba(47, 48, 58, 0.8) */
/* цвет фона команды  #F5F4FA  */
/* цвет фона футера  #2F303A */
/* черный цвет лого #000000 */
/* основной цвет заголовка #212121 */
/* основной цвет текста #757575 */
/* белый #FFFFFF  */
/* акцент #2196F3 */
/* ховер на карточках портфолио rgba(33, 150, 243, 0.9) */
/* цвет логотипов клиентов #AFB1B8 */
/* цвет рамки в карточках портфолио #EEEEEE */
/* цвет контактов в футере  rgba(255, 255, 255, 0.6) */
/* цвет копирайта на футере rgba(255, 255, 255, 0.4) */
/* цвет фона иконок соцсетей в футере rgba(255, 255, 255, 0.1) */
/* нижняя рамка в хэдэре #ececec */
